*{
    margin: 0;
    padding: 0;
}
Section{
    width: 1920px;
    height: 1300px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
h1{
    width: 320px;
    height: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-left: 405px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.container{
     display: flex;
     padding-left: 405px;
}
.top{
    justify-content: center;
    padding-right: 30px;
}
.top:last-child{
    padding-right: 0;
}
.boxed{
    width: 255px;
    height: 363px;
    background: #FFFFFF;
}
.box{
    text-align: center;
    padding-top: 20px;
}
.box img{
    width: 125px;
    height: 166px;
    background: #FFFFFF;
}
h2{
    width: 195px;
    height: 33px;
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}
.text p{
    width: 80px;
    height: 19px;
    padding: 10px 87px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.but{
    padding: 10px 63px;
}
.but button{
    width: 130px;
    height: 35px;
    background: #F13C6E;
    border-radius: 30px;
}
.but a{
    width: 51px;
    height: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}
.middle{
    display: flex;
    padding-left: 405px;
}
.medium{
    justify-content: center;
    padding-top: 100px;
    padding-right: 30px;
}
.medium:last-child{
    padding-right: 0;
}
.medial{
    width: 540px;
    height: 212px;
    background: #F13C6E;
    position: relative;
}
.mean h3{
    width: 250px;
    height: 17px;
    padding-top: 35px;
    padding-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.mean p{
    width: 231px;
    height: 40px;
    padding-top: 25px;
    padding-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.block{
    padding-top: 20px;
    padding-left: 40px;
    position: absolute;
}
.click{
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
}
.click a{
    width: 96px;
    height: 17px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #C4C4C4;
}
.map{
    width: 170px;
    height: 35px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}
.map a {
    width: 113px;
    height: 17px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.icon:before{
    content: url("img/Group.png");
    font-size: 50px;
    position: absolute;
    bottom: 50px;
    padding-left: 370px;
}
.icons:before{
    content: url("img/Vector-3.png");
    font-size: 50px;
    position: absolute;
    bottom: 50px;
    padding-left: 320px;
}
.im{
    display: flex;
    padding-left: 405px;
    padding-top: 100px;
}
.pul{
    width: 1110px;
    height: 357px;
    background: #FFFFFF;
}
.is{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #EFEFEF;
}
.picture {
    width: 149px;
    height: 49px;
    padding: 35px 60px 34px 67px;
    border-right: 1px solid #EFEFEF;
}
